@model IEnumerable<AdminPaneNew.Areas.OfficialAdmin.Models.Features>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/OfficialAdmin/Views/Shared/Layout.cshtml";
}
@section Pagename {

    Features

}
<h2><b>Index</b></h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShortDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.date)
                </th>
                <th>Action</th>
            </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <div class="wprt-fancy-text">
                            @Html.Raw(new HtmlString(item.ShortDescription))
                        </div>
                    </td>
                    <td>
                        <img src="~/UploadedFiles/@item.Image" width="100" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.date)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Featureid }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Featureid }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Featureid })
                    </td>
                </tr>
            }

</table>
    </div>