
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/OfficialAdmin/Views/Shared/Layout.cshtml";
}


@section Pagename {

       Home
    
}
<h2><b>Dashboard</b></h2>
<hr />
    <div class="row" style="margin:66px 20px 40px 20px;padding:10px;">
    <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="board">

            <div class="number">
                <a href="@Url.Action("Index","news")">
                    <img src="~/Areas/assets/login/images/news-icon-12.png" style="width:90px;" />

                    <h4>News</h4>
                </a>
            </div>
        
        </div>
    </div>

    <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="board">

            <div class="number">
                <a href="@Url.Action("Index","Albums")">
                    <img src="~/Areas/assets/login/images/photogallery.png" style="width:90px;" />
                    <h4>Photo Gallery</h4>
                </a>

            </div>

        </div>
    </div>

    <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="board">

            <div class="number">
                <a href="@Url.Action("Index","Videos")">
                    <img src="~/Areas/assets/login/images/video-icon.png" style="width:90px;" />
                    <h4>Video Gallery</h4>

                </a>
           </div>

        </div>
    </div>

    <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="board">

            <div class="number">
                <a href="@Url.Action("Index","Services")">
                    <img src="~/Areas/assets/login/images/services.png" style="width:90px;" />
                    <h4>
                        Services
                    </h4>
                </a>
            </div>

        </div>
    </div>
    <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="board">

            <div class="number">
                <a href="@Url.Action("Index","Features")">
                    <img src="~/Areas/assets/login/images/featurs.png" style="width:90px;" />
                    <h4>
                        Features
                    </h4>
                </a>
            </div>

        </div>
    </div>
    <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="board">

            <div class="number">
                <a href="@Url.Action("Index","Testimonials")">
                    <img src="~/Areas/assets/login/images/if_testimonial_56297.png" style="width:90px;" />
                    <h4>
                        Testimonials
                    </h4>
                  </a>
            </div>

        </div>
    </div>
    <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="board">

            <div class="number">
                <a href="@Url.Action("Index","Clientlogoes")">
                    <img src="~/Areas/assets/login/images/Consulting_Icon.png" style="width:90px;" />
                    <h4>
                        Tie Up
                    </h4>
                </a>
           </div>

        </div>
    </div>

    <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="board">

            <div class="number">
                <a href="@Url.Action("Index","Logoes")">
                    
                    <img src="~/Areas/assets/login/images/Logo_blog.png" style="width:90px;" />
                    <h4>
                        Logo
                    </h4>
                </a>
            </div>

        </div>
    </div>
    <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="board">

            <div class="number">
                <a href="@Url.Action("Index","Accounts")">
                    <img src="~/Areas/assets/login/images/admin.png" style="width:90px;" />
                    <h4>Manage Account</h4>
                </a>
            </div>

        </div>
    </div>
    <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="board">

            <div class="number">
                <a href="@Url.Action("Index","sliders")">
                    <img src="~/Areas/assets/login/images/slider.png" style="width:90px;" />
                    <h4>
                        Banners
                    </h4>
                </a>
            </div>

        </div>
    </div>

    <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="board">

            <div class="number">
                <a href="@Url.Action("Index","Contacts")">
                    <img src="~/Areas/assets/login/images/contact.png" style="width:90px;" />
                    <h4>
                        Contact
                    </h4>
                </a>
            </div>

        </div>
    </div>
    <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="board">

            <div class="number">
                <a href="@Url.Action("Login","Accounts")">
                 <img src="~/Areas/assets/login/images/download.jpg" style="width:90px;" />
                 <h4>
                   Log Out
                 </h4>
                </a>
             </div>

        </div>
    </div>
</div>