@model AdminPaneNew.Areas.OfficialAdmin.Models.Album

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/OfficialAdmin/Views/Shared/Layout.cshtml";
}

@section Pagename {

    Album

}
<div>
    <h3>Details</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AlbumName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img src="~/UploadedFiles/@Model.Image" style="width:100px;" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Albumid }, new { @class = "btn btn-danger" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-danger" })
</p>
