@model IEnumerable<AdminPaneNew.Areas.OfficialAdmin.Models.StudentDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/OfficialAdmin/Views/Shared/Layout.cshtml";
}


@section Pagename {

    Student Registeration
}
<h2><b>Index</b></h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FatherName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mobile)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DOB)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.CourseType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RollNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JoiningDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FatherName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOB)
                </td>
                <td>
                    <img src="~/UploadedFiles/@item.Image" width="100" />
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CourseType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RollNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JoiningDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Studentid }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Studentid }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Studentid })
                </td>
            </tr>
        }

    </table>
</div>